.header {
    padding-top: 25px;
    padding-left: 15px;
}

.body {
    padding-left: 24px;
}

.subtitle {
    padding-bottom: 20px;
}

.article-title {
  padding-top: 25px;
  padding-left: 23px;
  align-content: center;
  text-align: left;
  margin: auto;
  max-width: 600px;
}

.article-body{
  padding-top: 25px;
  padding-left: 23px;
  text-align: left;
  align-content: center;
  margin: auto;
  max-width: 600px;
}


a:hover {
  cursor:url(http://www.rw-designer.com/cursor-extern.php?id=3504),auto;
}
