/* homepage */

body {
  background-color: #121212;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 1.5px;
  cursor:url(http://www.rw-designer.com/cursor-extern.php?id=3504), pointer;
}

a {
  color: #9E9E9E
}

html {
  margin: 0;
  height: 100%;
  cursor:url(http://www.rw-designer.com/cursor-extern.php?id=3504), pointer;
}

.header {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-left: 15px;
    color: #BDBDBD;
    justify-content: flex-start;
}

.row {
  display: flex;
}

.column {
  flex: 75%;
}

.body {
  position: relative;
  padding-top: 15px;
  padding-left: 24px;
  color: #BDBDBD;
  line-height: 1.6
}

.subtitle {
    padding-bottom: 20px;
    color: #BDBDBD;
}

.generator {
  float: right;
  position: absolute;
  top: 500px;
  right: 40px;
  color: #BDBDBD;
  max-width: 500px;
}

h4 {
  padding-top: 25px;
  color: #BDBDBD;
}

/* content */

.article-title {
  padding-top: 25px;
  padding-left: 23px;
  align-content: center;
  text-align: left;
  margin: auto;
  max-width: 600px;
  color: #BDBDBD;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.article-body{
  padding-top: 25px;
  padding-left: 23px;
  text-align: left;
  align-content: center;
  margin: auto;
  max-width: 600px;
  color: #BDBDBD;
}

/* global */

a:hover {
  cursor:url(http://www.rw-designer.com/cursor-extern.php?id=3504),auto;
  color: #EEEEEE;
}